name: Manual Playwright Docker Test

description: "Manually build, push, and run Playwright tests using Docker image."

on:
  workflow_dispatch:

jobs:
  playwright-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/playwright-ecomm-e2e:latest .

      - name: Run Playwright tests in Docker
        run: |
          docker run --rm ${{ secrets.DOCKERHUB_USERNAME }}/playwright-ecomm-e2e:latest
